<p id="notice"><%= notice %></p>

<p>
  <strong>Tan:</strong>
  <%= @lifeguard.tan %>
</p>

<p>
  <strong>Spf:</strong>
  <%= @lifeguard.spf %>
</p>

<%= link_to 'Edit', edit_lifeguard_path(@lifeguard) %> |
<%= link_to 'Back', lifeguards_path %>
